body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#color-picker {
    width: 80%;
    height: 550px;
    margin: 2rem auto;
}

#choices {
    display: flex;
    justify-content: space-around;
    padding: 0 0 1rem;
}

.color-individual {
    width: 20%;
}

.color-visual{
    background-color: grey;
    height: 250px;
}

.color-value{
    text-align: center;
}
#color-scheme {
    display: flex;
    height: 300px;
}

@media (max-width: 600px){
    #color-scheme {
        flex-direction: column;
    }
    .color-individual {
        width: 80%;
        display: flex;
        align-items: center;
        }
    
    .color-visual, .color-value {
        width: 50%; 
    }


}