body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(45, 45, 45);
}

#color-picker {
    width: 80%;
    height: 550px;
    margin: 1rem auto;
}


#get-colors {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 2rem;
    align-items: center;

}

#color-mode-selection, #count-selection {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    /* justify-content: center;
    align-items: center; */
}

#count-selection {
    width: 15%;
}

#seed-color {
    height: 50px;
    margin-right: 2rem;
}

label {
    margin-right: 1rem;
}

.color-individual {
    width: 20%;
}

.color-visual{
    background-color: grey;
    height: 250px;
}

.color-value{
    text-align: center;
    border: .5px solid rgb(45, 45, 45);
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
#color-scheme {
    display: flex;
    height: 300px;
}

button {
    color: rgb(45, 45, 45);
    border: 1px solid rgb(45, 45, 45);
    background-color: white;
    padding: 5px 50px;
    height: 50px;
    font-size: 1.2rem;

}

/* Media queries */

@media (max-width: 600px){
    #color-picker {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }


    #color-scheme {
        flex-direction: column;
    }
    .color-individual {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        }

    .color-value {
        box-sizing: border-box;
    }
    
    
    .color-visual, .color-value {
        width: 50%; 
        height: 150px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 3;
    }


    #get-colors {
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
    }

    #color-mode-selection, #count-selection {
        flex-direction: row;
        width: 80%;
        margin-bottom: 1rem;
    }

    #seed-color {
        margin-bottom: 1rem;
    }
    
    #get-colors {
        width: 95%;
        margin: 0 auto 2rem;
        align-items: flex-start;
    
    }
    


}